examples/230-n8n-deepgram-community-node-typescript/src/example-workflow.json
{
	"name": "Deepgram STT → Intelligence → TTS Pipeline",
	"nodes": [
		{
			"parameters": {},
			"id": "start-node",
			"name": "Start",
			"type": "n8n-nodes-base.manualTrigger",
			"typeVersion": 1,
			"position": [240, 300]
		},
		{
			"parameters": {
				"resource": "transcription",
				"operation": "transcribeUrl",
				"audioUrl": "https://dpgr.am/spacewalk.wav",
				"model": "nova-3",
				"smartFormat": true,
				"diarize": true,
				"language": ""
			},
			"id": "transcribe-node",
			"name": "Transcribe Audio",
			"type": "n8n-nodes-deepgram.deepgram",
			"typeVersion": 1,
			"position": [460, 300],
			"credentials": {
				"deepgramApi": {
					"id": "1",
					"name": "Deepgram API"
				}
			}
		},
		{
			"parameters": {
				"resource": "intelligence",
				"operation": "analyze",
				"intelligenceAudioUrl": "https://dpgr.am/spacewalk.wav",
				"summarize": true,
				"detectTopics": true,
				"sentimentAnalysis": true,
				"intents": false
			},
			"id": "intelligence-node",
			"name": "Analyze Audio",
			"type": "n8n-nodes-deepgram.deepgram",
			"typeVersion": 1,
			"position": [680, 300],
			"credentials": {
				"deepgramApi": {
					"id": "1",
					"name": "Deepgram API"
				}
			}
		},
		{
			"parameters": {
				"resource": "tts",
				"operation": "speak",
				"text": "={{ $json.results.summary.short }}",
				"voice": "aura-2-thalia-en",
				"outputBinaryField": "data"
			},
			"id": "tts-node",
			"name": "Speak Summary",
			"type": "n8n-nodes-deepgram.deepgram",
			"typeVersion": 1,
			"position": [900, 300],
			"credentials": {
				"deepgramApi": {
					"id": "1",
					"name": "Deepgram API"
				}
			}
		}
	],
	"connections": {
		"Start": {
			"main": [
				[{ "node": "Transcribe Audio", "type": "main", "index": 0 }]
			]
		},
		"Transcribe Audio": {
			"main": [
				[{ "node": "Analyze Audio", "type": "main", "index": 0 }]
			]
		},
		"Analyze Audio": {
			"main": [
				[{ "node": "Speak Summary", "type": "main", "index": 0 }]
			]
		}
	}
}
